# Игнорируем секреты
.env
.env.*

# Игнорируем папки с виртуальным окружением
.venv
venv
env/

# Игнорируем кэш питона и логи
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
logs/
*.log

# Игнорируем базу и файлы, которые будут примонтированы через volumes
data/
db/

.git
